force-app/main/default/flows/ACT_Get_Logged_in_User.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Transcript_is_Missing</name>
        <label>Transcript is Missing</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>ACT_Missing_Transcript</actionName>
        <actionType>generatePromptResponse</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Input:knowledge</name>
            <value>
                <elementReference>Get_Knowledge_Article</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ACT_Missing_Transcript</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>outTranscriptMissing</assignToReference>
            <name>promptResponse</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>learningRubricName_Empty</name>
        <label>learningRubricName Empty</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>outWrongLearningRubric</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>wrongLearningRubric</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>No_Attempt_Reasons</name>
        <label>No Attempt Reasons</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>outNoAttemptReasons</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>noAttemptReasons</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Store_user_loggedin_name</name>
        <label>Store user loggedin name</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>userName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.FirstName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_User_s_Learner_Profile</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_Values</name>
        <label>Store Values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>learningRubricName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Learning_Rubric.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>learningRubricId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Learning_Rubric.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>learnerProfileId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_User_s_Learner_Profile.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Attempt_have_Transcript</name>
        <label>Attempt have Transcript ?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_Knowledge_Article</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Transcript</defaultConnectorLabel>
        <rules>
            <name>Transcript_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_LR_Attempt.Transcript_Text__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Store_Values</targetReference>
            </connector>
            <label>Transcript Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Learner_Rubric_Exist</name>
        <label>Learner Rubric Exist ?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>learningRubricName_Empty</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Learning_Rubric.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_LR_Attempt</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>LR_have_Attempt</name>
        <label>LR have Attempt ?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>No_Attempt_Reasons</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NA</defaultConnectorLabel>
        <rules>
            <name>Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_LR_Attempt.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Attempt_have_Transcript</targetReference>
            </connector>
            <label>Exist</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>ACT- Get Logged in Learner {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ACT- Get Logged in User</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Knowledge_Article</name>
        <label>Get Knowledge Article</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Transcript_is_Missing</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ArticleNumber</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>000002740</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Knowledge__kav</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Learning_Rubric</name>
        <label>Get Learning Rubric</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Learner_Rubric_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Learner_Profile__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_User_s_Learner_Profile.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Learning_Rubric__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Logged_in_User</name>
        <label>Get Logged in User</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Store_user_loggedin_name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>userId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_LR_Attempt</name>
        <label>Get LR Attempt</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LR_have_Attempt</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Learning_Rubric__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Learning_Rubric.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Attempt__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User_s_Learner_Profile</name>
        <label>Get User&apos;s Learner Profile</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Learning_Rubric</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Logged_in_User.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Learner_Profile__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Logged_in_User</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>noAttemptReasons</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;You don’t currently have an attempt recorded on this Sales Coach Assessment. Sometimes technical issues can prevent a session from saving properly. Common reasons include:&lt;/p&gt;&lt;ul&gt;&lt;li&gt;The video being too short&lt;/li&gt;&lt;li&gt;Audio glitches&lt;/li&gt;&lt;li&gt;Refreshing your browser tab mid-session&lt;/li&gt;&lt;li&gt;A temporary dip in your internet connection&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;To avoid these issues, make sure you meet the minimum time requirement, have clear audio, avoid refreshing your tab during the assessment, and maintain a stable internet connection. Give it another shot, and if problems persist, let me know—I’d be happy to open a case for you!&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>wrongLearningRubric</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Sorry you&apos;re facing the Error because:&lt;/p&gt;&lt;p&gt;1. You are not on your &lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Sales Coach Assessment&lt;/span&gt;, please navigate to your &lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Sales Coach Assessment&lt;/span&gt;.&lt;/p&gt;&lt;p&gt;2. You might not have a Active Learner Profile. If you need additional help go to &lt;a href=&quot;https://salesforce.enterprise.slack.com/archives/C01SFA61CP4&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(18, 100, 163);&quot;&gt;#help-act&lt;/a&gt; on slack.&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>learnerProfileId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>learningRubricId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>learningRubricName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>outNoAttemptReasons</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>outTranscriptMissing</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>outWrongLearningRubric</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>userId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$User.Id</elementReference>
        </value>
    </variables>
    <variables>
        <name>userName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
