force-app/main/default/flows/ACT_Answer_from_Latest_Feedback.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Answer_from_latest_feedback</name>
        <label>Answer from latest feedback</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>ACT_AnswerfromLatestFeedback</actionName>
        <actionType>generatePromptResponse</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Input:learnerQuestion</name>
            <value>
                <elementReference>learnerQuestion</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Input:learnerAttempt</name>
            <value>
                <elementReference>Get_Learning_Rubric_Attempts</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Input:latestFeedback</name>
            <value>
                <elementReference>latestFeedback</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Input:LearningRubric_c</name>
            <value>
                <elementReference>Get_LearningRurbic_LatestFeedback</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ACT_AnswerfromLatestFeedback</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>agentAnswer</assignToReference>
            <name>promptResponse</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_agentAnswer_Empty</name>
        <label>Set agentAnswer Empty</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>agentAnswer</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Does_LR_have_Attempt</name>
        <label>Does LR have Attempt ?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Set_agentAnswer_Empty</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Learning_Rubric_Attempts.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Answer_from_latest_feedback</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>ACT - Answer from Latest Feedback {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ACT - Answer from Latest Feedback</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Learning_Rubric</name>
        <label>Get Learning Rubric</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Learning_Rubric_Attempts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>learningrubricId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Learning_Rubric__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Learning_Rubric_Attempts</name>
        <label>Get Learning Rubric Attempts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_LR_have_Attempt</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Learning_Rubric__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>learningrubricId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Attempt__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_LearningRurbic_LatestFeedback</name>
        <label>Get LearningRurbic LatestFeedback</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Learning_Rubric</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>learningrubricId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Learning_Rubric__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Latest_Feedback__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_LearningRurbic_LatestFeedback</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>agentAnswer</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>latestFeedback</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>learnerQuestion</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the Record id of learning rubric on which learner has open support agent.</description>
        <name>learningrubricId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
